/* CSS that applies to all pages*/
body {
	background-color: #CAEBF2;
	margin: 0px;
}
#menu {
	background-color: #000070;
	padding: 15px;
	width: 75%;
}
#menu div {
	background-color: #CAEBF2;
	border: 2px solid #A9A9A9;
	border-radius: 15px;
	color: #A9A9A9;
	padding: 15px;
	width: 20%;
}
#menu div a {
	color: #A9A9A9;
	font-family: Garamond, Georgia;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}
#menu div a:hover {
	color: #000070;
	font-size: 30px;
}
#blank {
	width: 25%;
	background-color: #000070;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
/*@media(min-width:150px) {
	.flexbox {
		flex-direction: column;
	}
}*/
.flexbox > div {
	box-sizing: border-box;
	text-align: center;
}
.pagetitle {
	background-color: #000070;
	border-radius: 15px;
	border-left: 15px solid #A9A9A9;
	border-right: 15px solid #A9A9A9;
	border-top: 5px solid #A9A9A9;
	border-bottom: 5px solid #A9A9A9;
	color: #CAEBF2;
	font-family: Garamond, Georgia;
	font-size: 65px;
	font-weight: bold;
	margin: 25px 150px 25px 150px;
	padding: 15px;
	text-align: center;
	text-decoration: underline 3px #CAEBF2;
}
.subheader {
	background-color: #EFEFEF;
	border-radius: 15px;
	border-left: 12px solid #000070;
	border-top: 2px solid #000070;
	border-right: 2px solid #000070;
	border-bottom: 2px solid #000070;
	color: #000070;
	font-family: Garamond, Georgia;
	font-size: 40px;
	font-weight: bold;
	margin: 10px 0px 10px 10px;
	padding: 12px 0px 12px 30px;
	width: 25%;
}
#bottommenu div{
	background-color: #EFEFEF;
	padding: 35px;
	width: 20%;
}
#bottommenu a {
	color: #000070;
	font-family: Garamond, Georgia;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
#bottommenu a:hover {
	color: #A9A9A9;
}
.textbox {
	background-color: #000070;
	border: 5px solid #A9A9A9;
	border-radius: 15px;
	color: white;
	font-family: Georgia;
}


/* CSS for homepage*/
#header {
	background-image: url("https://cdn.wallpapersafari.com/87/27/R1Psq8.png");
}
#name {
	color: #CAEBF2;
	font-family: Garamond, Georgia;
	font-size: 235px;
	padding-top: 75px;
	text-decoration: underline double #000070;
	width: 65%;
}
#pfp {
	padding: 10px 35px 10px 0px;
	width: 35%;
}
#bio {
	margin: 10px 15px 10px 15px;
}
#bio #about {
	border-right: 3px solid #A9A9A9;
	font-size: 25px;
	padding: 30px 25px 0px 25px;
	width: 75%;
}
#bio #nku {
	width: 25%;
}
#quotes {
	margin: 10px 15px 25px 15px;
}
#quotes div{
	border: 2px solid #A9A9A9;
	font-size: 20px;
	padding: 25px;
	text-align: center;
	width: 50%;
}


/* CSS for Involvement page */
#greek {
	margin: 10px 15px 25px 15px;
}
#leader {
	margin: 10px 15px 25px 15px;
}
#greektext {
	font-size: 25px;
	padding: 20px;
	width: 75%;
}
#greekpic {
	width: 25%;
}
#leaderpic {
	padding-top: 5px;
	width: 25%;
}
#leadertext {
	font-size: 25px;
	padding: 45px 20px 0px 20px;
	width: 75%;
}


/* CSS for Experience page */
#canes {
	margin: 0px 20px 50px 20px;
	width: 47%;
}
#school {
	margin: 0px 20px 50px 20px;
	width: 47%;
}
#caneshead {
	width: 50%;
}
#schoolhead {
	width: 50%;
}
#canesbody {
	font-size:25px;
	margin: 40px;
	padding: 30px;
}
#schoolbody {
	font-size: 25px;
	margin: 40px;
	padding: 30px;
}
#canestext {
}


/* CSS for Hobbies page */
#travel {
	margin: 10px 10px 25px 10px;
}
#traveltext {
	font-weight: normal;
	font-size: 25px;
	padding: 25px;
	width: 30%;
}
#gallery {
	width:70%;
}
#travelpics div img{
	width: 20%;
}
#sports {
	margin: 10px 30px 50px 0px;
}
#sportspics {
	width: 50%;
}
#sportstext {
	font-weight: normal;
	font-size: 25px;
	padding: 20px;
	width: 50%;
}
.picturebox {
	border: 3px solid #000070;
	color: #000070;
	margin: 10px;
	padding: 10px;
}


/* CSS for Contact page */
#social {
	justify-content: left;
	margin: 15px;
	padding: 25px;
	width: 30%;
}
#social img {
	padding: 10px 20px 10px 20px;
}
#contact {
	justify-content: left;
	margin: 15px;
	padding: 25px;
	width: 30%;
}
textarea {
	display: block;
}input {
	display: block;
}